.ShopHere-Container{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background:black;
	height: 40px;
	padding: 10px
}

.navbar > .navLinks {
	display: flex;
	flex-direction: row;
	gap:10px;
}

.active-class {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
}

a {
	color: white;
	text-decoration: none;
	outline: none;
}


.products-container {
	margin-top: 10px;
	width:90%;
}

.product , .cart-item{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.product > p ,.cart-item > p{
	text-align: center;
	width: 100%;
}


/*.product-checkbox {
	width: 10%;
}

.product-image {
	width: 20%
} 
.product-name {
	width: 30%
}
.product-price {
	width: 10%;
}

.product-actions {
	width: 15%
}*/
.checkout-container {
	background-color: grey;
	margin-top: 10px;
	padding: 10px;
}

.cart-item-remove {
	cursor: pointer;
	
}

.cart-item-remove > span {
	background-color: #fff;
	color: red;
	padding: 1px;
}